{{ define "meta" }}
<title>{{ .siteName }} - {{ .title }}</title>
<meta name="keywords" content="{{ .siteName }},{{.Keywords}}">
<meta name="description" content="{{ .siteName }} {{.Description}}">
{{ end }}

{{ define "content" }}
    <h3 class="sidebar-title"><i class="fa fa-tag"></i> 热门标签</h3>
    <ul class="tag-nav">
        {{ range .popularTags }}
        <li><a href="#{{ .ID }}">{{ .Name }}</a></li>
        {{ end }}
        <li><a href="/tags/" title="查看全部标签">全部标签</a></li>
    </ul>
    <div class="grid-auto-card">
        <div class="card" id="tips">
            <div class="card-title">Tips⁾⁾ 公告说明</div>
            {{ range .indexTipAds }}
            <a class="card-a" href="{{.Url}}" id="{{.AdType}}{{.ID}}" target="_blank" title="{{.Name}}">{{.Name}}</a>
            {{ end }}
            <br>
            <center>
                <!-- 300*250矩形 -->
                <ins class="adsbygoogle"
                     style="display:inline-block;width:300px;height:250px"
                     data-ad-client="ca-pub-4678475430515042"
                     data-ad-slot="1726815067"></ins>
                <script>
                    (adsbygoogle = window.adsbygoogle || []).push({});
                </script>
            </center>
        </div>

        <div class="card" id="vote">
            <div class="card-title"><i class="fa fa-star"></i> 我的投票</div>
            {{ if .userInfo }}
                {{ range .votedLinks }}
                <a class="card-a" href="/links/{{ .ID }}" title="{{ .Title }} - {{ TruncateString .Description 120 }}">{{ .Title }}</a>
                {{ else }}
                <p style="text-align:center;padding: 10px 5px;">空了？喜欢的链接记得点下支持！</p>
                {{ end }}
                <a class="card-a" href="/user/profile?sort=votes"><center>查看更多</center></a>
            {{ else }}
                <a class="card-a" href="/auth/login"><center>请先登录</center></a>
            {{ end }}
        </div>

        <div class="card" id="hot">
            <div class="card-title"><i class="fa fa-fire"></i> 热门链接</div>
            {{ range .hotLinks }}
            <a class="card-a" href="/links/{{ .ID }}" title="{{ .Title }} - {{ TruncateString .Description 120 }}">{{ if .IsPinned }}<small class="primary-link">[置顶] </small>{{end}}{{ .Title }}</a>
            {{ end }}
        </div>
        <div class="card" id="new">
            <div class="card-title"><i class="fa fa-clock-o"></i> 最新链接</div>
            {{ range .newLinks }}
            <a class="card-a" href="/links/{{ .ID }}" title="{{ .Title }} - {{ TruncateString .Description 120 }}">{{ .Title }}</a>
            {{ end }}
        </div>
        {{ range .popularTags }}
        <div class="card" id="{{ .ID }}">
            <div class="card-title">▸ {{ .Name }}</div>
            {{ range index $.tagLinks .ID }}
            <a class="card-a" href="/links/{{ .ID }}" title="{{ .Title }} - {{ TruncateString .Description 120 }}">{{ if .IsPinned }}<small class="primary-link">[置顶] </small>{{end}}{{ .Title }}</a>
            {{ end }}
            <a class="card-a" href="/tags/{{ .ID }}"><center>查看更多</center></a>
        </div>
        {{ end }}
    </div>
{{ end }}
