{{ define "meta" }}
<title>{{ .siteName }} - {{ .title }}</title>
<meta name="keywords" content="{{ .siteName }},{{.Keywords}}">
<meta name="description" content="{{ .siteName }} {{.Description}}">
{{ end }}

{{ define "content" }}
    <h3 class="sidebar-title"><i class="fa fa-tag"></i> 热门标签</h3>
    <ul class="tag-nav">
        {{ range .popularTags }}
        <li><a href="#{{ .ID }}">{{ .Name }}</a></li>
        {{ end }}
        <li><a href="/tags/" title="查看全部标签">More Tags</a></li>
    </ul>
    <div class="grid-auto-card">
        <div class="card" id="tips">
            <div class="card-title">Tips⁾⁾ 公告说明</div>
            <a class="card-a" href="/links/new">欢迎大家分享自己收藏的好站！</a>
            <a class="card-a" href="/articles/1">网站任何问题帮忙留言反馈啊，持续优化中</a>
            <center>
                <!-- 300*250矩形 -->
                <ins class="adsbygoogle"
                     style="display:inline-block;width:300px;height:250px"
                     data-ad-client="ca-pub-4678475430515042"
                     data-ad-slot="1726815067"></ins>
                <script>
                    (adsbygoogle = window.adsbygoogle || []).push({});
                </script>
            </center>
        </div>
        <div class="card" id="new">
            <div class="card-title"><i class="fa fa-clock-o"></i> 最新链接</div>
            {{ range .newLinks }}
            <a class="card-a" href="/links/{{ .ID }}" title="{{ .Title }} - {{ TruncateString .Description 120 }}">{{ .Title }}</a>
            {{ end }}
        </div>
        <div class="card" id="hot">
            <div class="card-title"><i class="fa fa-fire"></i> 热门链接</div>
            {{ range .hotLinks }}
            <a class="card-a" href="/links/{{ .ID }}" title="{{ .Title }} - {{ TruncateString .Description 120 }}">{{ .Title }}</a>
            {{ end }}
        </div>
        {{ range .popularTags }}
        <div class="card" id="{{ .ID }}">
            <div class="card-title">▸ {{ .Name }}</div>
            {{ range index $.tagLinks .ID }}
            <a class="card-a" href="/links/{{ .ID }}" title="{{ .Title }} - {{ TruncateString .Description 120 }}">{{ if .IsPinned }}<small class="primary-link">[置顶] </small>{{end}}{{ .Title }}</a>
            {{ end }}
            <a class="card-a" href="/tags/{{ .ID }}"><center>查看更多</center></a>
        </div>
        {{ end }}
    </div>
{{ end }}