{{ define "meta" }}
<meta name="robots" content="noindex, nofollow" />
<title>{{ .title }} | {{ .siteName }}</title>
<meta name="keywords" content="{{ .siteName }},{{.Keywords}}">
<meta name="description" content="{{ .siteName }}的跳转页面，用于跳转三方链接">
<!-- 预解析DNS -->
<link rel="dns-prefetch" href="{{ .link.URL }}">
<!-- 预连接 -->
<link rel="preconnect" href="{{ .link.URL }}" crossorigin>
<!-- 预渲染页面 -->
<link rel="prerender" href="{{ .link.URL }}">
<link rel="prefetch" href="{{ .link.URL }}">
{{ end }}

{{ define "content" }}
<style>
.notice-box{
    max-width: 750px;
    margin: 2rem auto;
}
.card-action {
    margin-top: 1.5rem;
}
</style>
<div class="card notice-box">
    <h2><div class="loading">即将进入桃花源 ...</div></h2>
    <p class="result-message">初极狭，才通人。复行数十步，豁然开朗！</p>
    <strong>⚠︎ 注意：您即将离开本站跳转到三方链接，请注意您的帐号和财产安全。</strong><br>
    <small>将在 <span id="countdown">3</span> 秒后自动跳转...</small>
    <div class="card-action">
        <a href="{{ .link.URL }}" class="btn btn-primary" data-instant-intensity="viewport"><button class="primary" style="width:100%;">{{ .link.Title }} ⤴︎</button></a>
    </div>
</div>
<script>
    function jump(seconds){
        const countdownElement = document.getElementById('countdown');
        const countdownInterval = setInterval(() => {
            seconds--;
            countdownElement.textContent = seconds;
            if (seconds <= 0) {
                clearInterval(countdownInterval);
                window.location.href = {{ .link.URL }};
            }
        }, 1000);
    }
    jump(3);
</script>
{{ end }}