{{ define "meta" }}
<title>{{ .title }} - {{ .siteName }}</title>
<meta name="keywords" content="{{ .siteName }},{{.Keywords}}">
<meta name="description" content="登录{{ .siteName }}">
<meta name="referrer" content="no-referrer-when-downgrade" />
<script src="https://accounts.google.com/gsi/client" async></script>
{{ end }}

{{ define "content" }}
    <div class="auth-form">
        <h2>登录</h2>
        {{ if .error }}
        <div class="error-message">{{ .error }}</div>
        {{ end }}
        <center>
        <div id="g_id_onload"
             data-client_id="{{ .clientId }}"
             data-context="signin"
             data-ux_mode="popup"
             data-login_uri="{{.SiteUrl}}/auth/callback/google"
             data-itp_support="true">
        </div>

        <div class="g_id_signin"
             data-type="standard"
             data-shape="rectangular"
             data-theme="outline"
             data-text="signin_with"
             data-size="medium"
             data-logo_alignment="center">
        </div>
        <h3>OR</h3>
        </center>
        <form action="/auth/login?refer={{.refer}}" method="POST">
            <div class="form-group">
                <label for="email">邮箱</label>
                <input type="email" id="email" name="email" value="{{ .email }}" required>
            </div>
            <div class="form-group">
                <label for="password">密码</label>
                <input type="password" id="password" name="password" required>
            </div>
            <button type="submit" class="btn btn-primary w-100">登录</button>
            <p class="auth-links">
                还没有账号？<a href="/auth/register">立即注册</a>
            </p>
        </form>
    </div>
    <script>
        const rootPath = window.location.origin;
        const googleButtonDiv = document.getElementById('g_id_onload');
        if (googleButtonDiv) {
          let loginUri = googleButtonDiv.getAttribute('data-login_uri');
          if (loginUri) {
            googleButtonDiv.setAttribute('data-login_uri', rootPath+"/auth/callback/google");
          }
        }
      </script>
{{ end }}